allow zygote cache_file:dir { write remove_name create add_name setattr };
allow zygote cache_file:file { write execute setattr lock create unlink open };
allow zygote system_server:binder { transfer call };